<h1>Create Container</h1>

<form method="post">
    <label>Nombre del contenedor:</label>
    <input type="text" name="containername"
        class="form-control" required/>
    <button class="btn btn-outline-dark">
        Nuevo contenedor
    </button>
</form>