
<h1>Upload Blob, Container: @ViewData["CONTAINERNAME"]</h1>

<a asp-controller="AzureBlobs"
    asp-action="ListBlobs"
    asp-route-containername="@ViewData["CONTAINERNAME"]">
    Volver a Blobs de @ViewData["CONTAINERNAME"]
</a>

<form method="post" enctype="multipart/form-data">
    <input type="file" name="file"
        class="form-control" required/>
    <button class="btn btn-outline-danger">
        Upload Blob
    </button>
</form>